:root {
    --card-height: 265px;
    --spacing: 15px;
    --border-radius: 12px;
}

.anime-card {
    height: var(--card-height);
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: auto 1fr;
    overflow: hidden;
}

.anime-card .anime-card-image {
    height: var(--card-height);
    color: #a6a6a6;
}

.anime-card .anime-card-info-container {
    height: var(--card-height);
    background-color: #111925;
    padding: var(--spacing);
}

.anime-card .anime-card-info-container .anime-card-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    text-align: left;
    overflow-y: auto;
}

.anime-card .anime-card-info .anime-card-info-name {
    color: #d9e6f2;
    font-size: large;
    font-weight: bold;
    overflow-wrap: anywhere;
}
.anime-card .anime-card-info .anime-card-info-episodes {
    color: #b3cce6;
    font-size: large;
    white-space: nowrap;
}
.anime-card .anime-card-info .anime-card-info-desc {
    color: #b3cce6;
    font-size: medium;
    overflow-wrap: anywhere;
}

@media only screen and (max-width: 1100px) {
    :root {
        --spacing: 10px;
        --card-height: 200px;
    }
}

@media only screen and (max-width: 900px) {
    :root {
        --spacing: 15px;
        --card-height: 265px;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --spacing: 10px;
        --card-height: 160px;
        --border-radius: 7px;
    }
}
