.main {
    min-height: 90vh;
    text-align: center;
    padding: 10px 30px;
}

.main h1 {
    font-size: xxx-large;
    color: #ecf2f9;
    margin: 40px;
}

.main p {
    color: #ecf2f9;
    font-size: x-large;
    margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
    .main h1 {
        font-size: xx-large;
        margin: 30px;
    }

    .main p {
        font-size: larger;
        margin-bottom: 10px;
    }
}
