header {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    gap: 10px;
    background-color: #111b28;
    align-items: center;
}
header img {
    height: 50px;
}

header form .search-input {
    background-color: #080c12;
    color: #d9e6f2;
    border-color: #4cc2ff;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-radius: 10px;
    font-size: medium;
    padding: 10px;
    max-width: 200px;
}
header form .search-input:hover {
    border-width: 0 2px 2px 2px;
}
header form .search-input:focus {
    border-width: 2px;
}
header form .search-input::placeholder {
    color: #a6a6a6;
}

@media only screen and (max-width: 600px) {
    header img {
        height: 40px;
    }

    header form .search-input {
        font-size: medium;
        padding: 8px;
        max-width: 140px;
    }
}
