{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about_page.css' %}">
{% endblock %}

{% block title %}
<title>About | Fillerlist</title>
{% endblock %}

{% block body_content %}

<div class="main">
    <div>
        <h1 class="page-title">
            About
        </h1>
        <div class="page-description">
            <p>"Filler" refers to story in an Anime that was not in the Manga. These are created because Anime
                production usually outpaces the Manga. Here you can find the list of those episodes.</p>
        </div>
    </div>

    <div>
        <h2 class="page-title">
            Attribution
        </h2>
        <div class="page-description">
            <ul>
                <li>
                    <p>Data source: animefillerlist.com</p>
                </li>
                <li>
                    <p>Image source: anilist.co</p>
                </li>
                <li>
                    <p>Website by: Chirag</p>
                </li>
                <li>
                    <p>Email: xdotaku80@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}