{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/anime_card.css' %}">
{% endblock %}

{% block title %}
<title>Home | Fillerlist</title>
{% endblock %}

{% block body_content %}
<div class="main">
    <h1 class="page-title">Random Picks</h1>
    <div class="cards">
        {% for anime in data %}
        <a href="/id/{{anime.id}}">
            <div id="anime-card-{{anime.id}}" class="anime-card">
                <img class="anime-card-image" src="{{anime.cover}}" alt="{{anime.title|slice:':15'}} poster">
                <div class="anime-card-info-container">
                    <div class="anime-card-info">
                        <div class="anime-card-info-name">{{anime.title}}</div>
                        <div class="anime-card-info-episodes">Episodes: {{anime.episodes|length}}</div>
                        <div class="anime-card-info-desc">{{anime.description}}</div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    const anime_list = {{ anime_json | safe}};
</script>
<script type="text/javascript" src="{% static 'js/anime_card.js' %}"></script>
{% endblock %}